# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\USFQ\SPRING-2021\OS-1\PROYECTO-FINAL\OS-FINAL-PROJ-SOLS\testv4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
